{% extends 'stock/layout.html.twig' %}


{% block body %}
    <h1>{{ produit.nom }}</h1>

    <div class="card bg-light">
        <div class="card-header">
            {{ include('stock/produit/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>

    <br/>
    <a href="{{ path('stock_produit_show',{'id': produit.id}) }}"><i class="fas fa-arrow-left"></i>
        Annuler</a>

    {{ include('stock/produit/_delete_form.html.twig') }}
{% endblock %}
