{% if is_granted('ROLE_TRAVAUX_ADD') %}
    <div class="btn-toolbar" role="toolbar" style="margin: 0;">
        <div class="btn-group">
            <a href="{{ path('intervention_show', { 'id': entity.intervention.id }) }}" class="btn btn-primary"
               role="button"><i class="glyphicon glyphicon-list"></i> Retour à l'intervention</a>
        </div>
    </div>
    <br/>
{% endif %}