
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> acmarche/travaux ###
.idea/
/public/media/
/public/uploads/
/public/avaloirs/
/public/files/
/*.sql
/runtests.sh
/config/services_dev.yaml
/config/services_test.yaml
/composer.lock
###< acmarche/travaux ###
###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
