{% extends 'layout.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h3>Détail du service <strong>{{ entity.intitule }}</strong></h3>
    </div>

    {% include 'service/actions.html.twig' %}

    {% include 'default/intervention.html.twig' with {'intervention': entity.intervention } %}

    {% include 'service/delete.html.twig' %}
{% endblock %}
