{% extends '@AcMarcheAvaloir/layout_avaloir.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h3>Commnentaire de {{ avaloir }}</h3>
    </div>

    <div class="card bg-light">
        <div class="card-header">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}

