{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body -%}
    <div class="page-header">
        <h3>Edition de <strong>{{ entity }}</strong></h3>
    </div>

    {% include 'intervention/form.html.twig' with {'form': edit_form } %}

    <br/>
    <a href="{{ path('intervention_show', { 'id': entity.id } ) }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Annuler et retour
    </a>
    <br/>

{% endblock %}
{% block scripts %}
    {% include 'form/calendar.html.twig' %}
{% endblock %}