{% extends 'base.html.twig' %}

{% block body %}

        <h3>{{ utilisateur }}</h3>

    {% include 'utilisateur/actions.html.twig' with {'utilisateur': utilisateur } %}

    <br />
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <th>Nom prénom</th>
            <td>
                {{ utilisateur.nom }} {{ utilisateur.prenom }}
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                {{ utilisateur.email }}
            </td>
        </tr>
        </tbody>
    </table>


    {% include 'utilisateur/delete.html.twig' %}

{% endblock %}
