{% extends '@AcMarcheTravaux/travaux/layout.html.twig' %}

{% block body -%}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>Edition de <strong>{{ entity }}</strong></h3>
        </div>
        <div class="card-body">
            {% include '@AcMarcheTravaux/travaux/intervention/form.html.twig' %}
        </div>
    </div>

    <br/>
    <a href="{{ path('intervention_show',{'id':entity.id}) }}"><i
                class="fas fa-arrow-left"></i> Annuler</a>

{% endblock %}