{% extends '@AcMarcheAvaloir/layout_avaloir.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h3>Liste des rues</h3>
    </div>

    <div class="alert alert-warning">
        La liste des rues est générées automatiquement suivant les coordonnées gps des avaloirs
    </div>

    {% if rues | length > 0 %}
        <table class='table table-bordered table-hover'>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Nbre d'avaloirs</th>
            </tr>
            </thead>
            <tbody>
            {% for rue in rues %}
                <tr>
                    <td>{{ rue }}</td>
                    <td>todo</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        Aucune
    {% endif %}

{% endblock %}
