{% extends '@AcMarcheTravaux/travaux/layout.html.twig' %}

{% block body -%}

    <div class="page-header">
        <h3>Détail du bâtiment <strong>{{ entity.intitule }}</strong></h3>
    </div>

    {% include '@AcMarcheTravaux/travaux/batiment/actions.html.twig' %}

    {% include '@AcMarcheTravaux/travaux/default/intervention.html.twig' with {'intervention': entity.intervention } %}

    {% include '@AcMarcheTravaux/travaux/batiment/delete.html.twig' %}
{% endblock %}
