{% extends 'base.html.twig' %}

{% block title %}Avaloirs{% endblock %}

{% block brand %}
    <a class="navbar-brand" href="{{ path('avaloir') }}" title="Accueil">
        <i class="fas fa-home"></i> Avaloirs </a>
{% endblock %}

{% block menu_top %}
    {% include 'avaloir/_menu.html.twig' %}
{% endblock %}
