{% extends '@AcMarcheAvaloir/layout_avaloir.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h3>Nouvelle date de nettoyage pour l'avaloir <strong>{{ entity.avaloir }}</strong></h3>
    </div>

    {{ form(form) }}

{% endblock %}