{% extends 'base.html.twig' %}

{% block title %}Interventions{% endblock %}

{% block brand %}
    <a class="navbar-brand" href="{{ path('homepage') }}" title="Accueil">
       <i class="fas fa-home"></i> Interventions </a>
{% endblock %}

{% block menu_top %}
    {% include 'travaux/_menu.html.twig' %}
{% endblock %}

{% block notifications %}
    {% if app.user is not null and (is_granted("ROLE_TRAVAUX_VALIDATION") or (is_granted("ROLE_TRAVAUX_REDACTEUR"))) %}
        <div class="hidden-print">
            {{ render(controller('AcMarche\\Travaux\\Controller\\NotificationController::index')) }}
        </div>
    {% endif %}
{% endblock %}
