{% if is_granted('ROLE_TRAVAUX_ADMIN') or is_granted('ROLE_TRAVAUX_REDACTEUR') %}
    <!-- Modal -->
    <div class="modal fade" id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">
                        {% if intervention.archive %}Désarchiver
                        {% else %}
                            Archiver
                        {% endif %} une intervention
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <br/> <strong>{{ intervention }} </strong>
                </div>
                <div class="modal-footer">
                    <form method="post" action="{{ path('intervention_archive_set', {'id': intervention.id}) }}">
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="_token" value="{{ csrf_token('archive' ~ intervention.id) }}">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Annuler
                        </button>
                        <button type="submit"
                                class="btn btn-success">Archiver
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}