{% extends 'layout_avaloir.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h3>Avaloir <strong>{{ entity.avaloir }}</strong> au <strong>{{ entity}}</strong> </h3>
    </div>

    {% include 'date_nettoyage/delete.html.twig' with {'delete_form': delete_form } %}

{% endblock %}
