{% extends '@AcMarcheTravaux/travaux/layout.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h3>Edition d'un suivis</h3>
    </div>

    {{ form(edit_form) }}
        
{% endblock %}

